.nav-item1 {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;
	border: 2px solid #343a40;
}
.nav-item2 {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;
	border: 2px solid #343a40;
}
.nav-item3 {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;
	border: 2px solid #343a40;
}
.nav-item4 {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;
	border: 2px solid #343a40;
}
.nav-item4:hover {
	border-radius: 50px;
	border: 2px solid crimson;
	transition: 1s ease;
}
.jumbotron {
	padding-top: 4%;
	padding-bottom: 4%;
	border-radius: 0px;
}
nav {
	border-bottom: 3px solid #16a085;
}
footer {
	margin-top: -40px;
	border-top: 3px solid #16a085;
}